body {
	margin: 0;
}

#typeConatiner {

}

.typeBtn {

}

.typeBtn:hover {
	cursor: pointer;
}

#desktop {

}

#tablet {

}

#phone {

}

#editor {
	display: none;
	width: 100%;
	height: 100%;
}

#inputContainer {
	position: relative;
	float: left;
	width: 480px;
	height: 300px;
	z-index: 2;
}

#textContainer {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 20%;
}

#decalsContainer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80%;
}

#canvasContainer {
	position: relative;
	float: left;
	width: 480px;
	height: 270px;
	z-index: 1;
}

#canvasContainer canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.footballer {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.footballer img{
	width: 100px;
	height: 100px;
}