body {
	margin: 0;
}

#mainContainer {
	position: absolute;
	width: 750px;
	height: 1334px;
	background-image: url(../../assets/img/bg.png);
}

#editor{
	display: none;
}

#preloadBar {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 708px;
	height: 706px;
	margin-left: -354px;
	margin-top: -353px;
	background-image: url(../../assets/img/bar_preloader.png);
}

#photoFrame {
	position: absolute;
	width: 563px;
	height: 685px;
	left: 50%;
	top: 50%;
	margin-left: -281.5px;
	margin-top: -342px;
	background-color: black;
	border-image: url(../../assets/img/element_photo_canvas.png) 45 38 145 40 / 40px 38px 131px 41px;
}

#photoContainer {
	position: absolute;
	left: 33px;
	top: 33px;
	background-color: red;
	width: calc(100% - 67px);
	height: calc(100% - 156px);
}

#takePhotoBtnBgr {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 254px;
	height: 185px;
	margin-left: -127px;
	margin-top: -93px;
	background-image: url(../../assets/img/element_take_a_photo.png);
}

#takePhotoBtnInput {
	width: 100%;
	height: 100%;
	opacity: 0;
}

#inputContainer {
	position: absolute;
	width: 630px;
	height: 103px;
	bottom: 30px;
	left: 50%;
	margin-left: -315px;
}

.arrowBtn {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	width: 24px;
	height: 42px;
}

#leftBtn {
	left: 0px;
	background-image: url(../../assets/img/element_arrow_left.png);
}

#rightBtn {
	right: 0px;
	background-image: url(../../assets/img/element_arrow_right.png);
}

#modeButtons {
	position: absolute;
	left: 24px;
	width: calc(100% - 48px);
	height: 103px;
	overflow: hidden;
}

#buttonsList {
	width: 1000px;
	height: 100%;
	margin: 0;
}

.modeBtn {
	width: 118px;
	height: 103px;
	margin: 0 0 0 20px;
	background-repeat: no-repeat;
	display: inline-block;
}

#modeBtnFrame {
	background-image: url(../../assets/img/button_frame_overlay.png);
}

#modeBtnTransform {
	background-image: url(../../assets/img/button_transform.png);
}

#modeBtnPicture {
	background-image: url(../../assets/img/button_picture_overlay.png);
}

#modeBtnColorEffect {
	background-image: url(../../assets/img/button_color_effect.png);
}

#socials {
	position: absolute;
	width: 500px;
	height: 61px;
	bottom: 30px;
	left: 50%;
	margin-left: -250px;
}

.socialBtn {
	position: absolute;
	height: 61px;
}

#fbBnt {
	width: 185px;
	left: 0px;
	background-image: url(../../assets/img/button_share_fb.png);
}

#vkBnt {
	width: 196px;
	left: 194px;
	background-image: url(../../assets/img/button_share_vk.png);
}

#okBnt {
	width: 99px;
	left: 398px;
	background-image: url(../../assets/img/button_share_ok.png);
}